body {
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}
h2{
    color: rgb(255, 165, 0);
    font-size: 2cm;
    text-shadow: gold;
}

#config-ecran {
    margin-bottom: 20px;
    display: block;
    text-align: center;
}
#ecran-jeu {
    display: none;
    text-align: center;
}

#allumettes-count{
    color: rgb(255, 0, 0);
    font-size: 0.8cm;
}
#player-actuel{
    color: black;
    margin-right: 1000px;
    font-size: 0.8cm;
}
#allumettes-container {
    display: flex;
    flex-direction: row; /* Aligne les allumettes en ligne horizontale */
    flex-wrap: wrap; /* Permet de passer à une ligne suivante si besoin */
    justify-content: center; /* Centre les allumettes horizontalement */
    gap: 53px; /* Espace entre chaque allumette */
    max-width: 70%; /* Limite la largeur pour mieux structurer */
    padding: 10px;
    margin: 10px auto; /* Centre le conteneur */
    overflow: hidden;
}
/* Style de la tige de l'allumette */
.allumette {
    width: 8px;
    height: 40px;
    background-color: gold; /* Couleur marron pour le bâton */
    position:relative;
}

/* Style de la tête de l'allumette */
.allumette::after {
    content: '';
    position: absolute;
    top: -5px; /* Positionne la tête légèrement au-dessus de la tige */
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background-color: #ff4500; /* Couleur de la tête */
    border-radius: 50%; /* Rendre la tête ronde */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3); /* Ombre pour effet 3D */
}
button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 165, 0);
    color: white;
    cursor: pointer;
}
input {
    padding: 5px;
    margin: 10px;
    width: 60px;
}
.player-info{
    margin: 10px 0;
    font-size: 1.2em;
    color: #333;
}